<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @car.nombre %>
</p>

<p>
  <strong>Modelo:</strong>
  <%= @car.modelo %>
</p>

<p>
  <strong>Anho:</strong>
  <%= @car.anho %>
</p>

<p>
  <strong>Color:</strong>
  <%= @car.color %>
</p>

<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
